body {
    padding: 50px;
}

.main {
    width: 1196px;
}
.eventList ul {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
}
.eventList li {
    flex: 0 1 25%;
    padding: 0 0 34px;
}
.eventList li a {
    display: block;
    position: relative;
    width: 271px;
    height: 382px;
    line-height: 1;
    border: 1px solid #ddd;
}
.eventList li a .img {
    overflow: hidden;
    position: relative;
    width: 271px;
    height: 272px;
    border-bottom: 1px solid #ddd;
}
.eventList li a .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.eventList li a .info {
    padding: 29px 10px 0;
}
.eventList li a .info strong {
    /* 텍스트에 ... 을 주기 위해서는 아래 코드들이 세트임 */
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #222;
}
.eventList li a p {
    font-size: 13px;
    color: #888;
}
.eventList li a p span {
    font-size: 15px;
    color: #ed1846;
}
.eventList li a em {
    position: absolute;
    right: 9px;
    top: 9px;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 100%;
}

.paging {
    padding: 28px 0 60px;
}
.paging ul {
    display: flex;
    justify-content: center; /*x축*/
}
.paging li {
    margin: 0 7px;
}
.paging a {
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.paging a:hover,
.paging a.on {
    background: #ed1846;
    color: #fff;
}
.paging .first {
    margin: 0 16px 0 0;
    background: url(../images/prev-first.png) no-repeat center;
}
.paging .prev {
    margin: 0 6px 0 0;
    background: url(../images/paging-prev.png) no-repeat center;
}
.paging .next {
    margin: 0 0 0 6px;
    background: url(../images/paging-next.png) no-repeat center;
}
.paging .last {
    margin: 0 0 0 16px;
    background: url(../images/next-last.png) no-repeat center;
}
.paging .first a:hover,
.paging .prev a:hover,
.paging .next a:hover,
.paging .last a:hover{
    background: none;
}

.search {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 0;
}
.search * {
    margin: 0 5px;
    height: 53px;
    border: 1px solid #ccc;
}
.search select {
    width: 148px;
}
.search input {
    width: 258px;
}
.search button {
    width: 150;
    border: none;
    background: #ed1846;
    color: #fff;
}