body {
    padding: 50px;
}
.more {
    width: 355px;
}
.more h2 {
    padding: 0 0 16px;
    font-size: 16px;
    color: #444;
}
.more ul {
    padding: 22px 0 25px;
    border: 1px solid #e8e8e8;
    background: #f8f8f8;
}
.more ul::after {
    content: "";
    display: block;
    clear: both;
}
.more li {
    float: left;
}
.more li a {
    display: block; /*a는 inline요소라서 w, h가 적용되지 않으므로 강제로 block 함*/
    width: 117px;
    height: 34px;
    text-align: center;
    padding: 71px 0 0 0;
    border-left: 1px solid #e8e8e8;
    font-size: 15px;
    color: #444;
}
.more li:first-child a {
    border: none;
}
.more li.ico1 a {
    background: url(../images/ico1.png) no-repeat center top;
}
.more li.ico2 a {
    background: url(../images/ico2.png) no-repeat center top;
}
.more li.ico3 a {
    background: url(../images/ico3.png) no-repeat center top;
}