body {
    padding: 50px;
    background: #000;
}

.siteMap * {
    transition: all 0.5s;
}
.siteMap > div {
    float: left;
    width: 200px;
    padding: 0 50px 0 0;
}
.siteMap h2 {
    padding: 0 0 5px;
    color: #c2c1bf;
    font-size: 18px;
    line-height: 100%;
}
.siteMap a {
    font-size: 13px;
    color: #55524d;
}
.siteMap > div:hover * {
    color: #c2c1bf;
}
.siteMap > div:hover h2 {
    color: #ff5400;
}
.siteMap > div > ul > li > a {
    display: block;
    margin: 24px 0 15px;
}
.siteMap > div > ul > li a:hover {
    color: #ff5400;
}
.siteMap > div > ul > li > ul {
    border-left: 1px solid #3c3933;
}
.siteMap > div > ul > li > ul > li {
    position: relative;
    padding: 3px 0 8px 19px;
    line-height: 100%;
}
.siteMap > div > ul > li > ul > li::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ff5400;
    opacity: 0;
    transition: opacity 0.5s;
}
.siteMap > div > ul > li > ul > li:hover::before {
    opacity: 1;
}
.siteMap > div > ul > li > ul > li:hover > a {
    color: #ff5400;
}
.siteMap > div > ul > li > ul > li > ul {
    padding: 10px 0 0;
}
.siteMap > div > ul > li > ul > li > ul a {
    display: block;
    padding: 4px 0;
    font-size: 11px;
}
.siteMap > div > ul > li > ul > li > ul li {
    position: relative;
    padding: 0 0 0 18px;
    border-left: 1px solid #3c3933;
    line-height: 15px;
}
.siteMap > div > ul > li > ul > li > ul > li::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ff5400;
    opacity: 0;
    transition: opacity 0.5s;
}
.siteMap > div > ul > li > ul > li > ul > li:hover::before {
    opacity: 1;
}
.siteMap > div > ul > li > ul > li > ul > li:hover a {
    color: #ff5400;
}